* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

html {
    background-image: linear-gradient(to right bottom, #200033, #1d0637, #190c3c, #14113f, #0e1543, #091d4a, #042550, #002c56, #003a5f, #004665, #005368, #005f6a);
    background-repeat: no-repeat;
    min-height: 100vh;
}

body {
    height: 100%;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 60px 20px;
    max-width: 900px;
    height: 100%;
    color: #fff;
}

.title {
    position: relative;
    margin-bottom: 20px;
}

h1 {
    display: inline-block;
    border-bottom: 1px dashed #fff;
    font-size: 40px;
    line-height: 60px;
    transition: border-bottom-color 0.3s ease-in-out;

    &:hover {
        border-bottom: 1px solid transparent;

        & + .hello-there {
            opacity: 1;
        }
    }
}

.hello-there {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    max-width: calc(100vw - 40px);
}

h2 {
    margin: 10px 0 15px;
    font-size: 30px;
    line-height: 45px;
}

p {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    display: block;
}

svg {
    width: 60px;
    fill: #fff;
    transition: fill 0.3s ease-in-out;

    &:hover {
        fill: #9E5DF3;
    }
}